# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# Xcode
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build logs
build.log
*.log

# Temporary files
*.swp
*~.nib

